* {
  margin: none;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: url("./assets/background.jpg");
}

.button {
  display: flex;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drum-kit {
  display: flex;
  flex-direction: row;
}
